.background-image {
    background-image: url('../images/layered.svg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjust the height as needed */
}

.background-image2 {
    background-image: url('../images/layered2.svg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjust the height as needed */
}

.background-image3 {
    background-image: url('../images/layered3.svg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjust the height as needed */
}

.background-image4 {
    background-image: url('../images/layered4.svg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjust the height as needed */
}

.background-image5 {
    background-image: url('../images/layered5.svg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjust the height as needed */
}


.archivo {
    font-family: "Archivo Black", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.moderustic {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dark-blue {
    background-color: #002233;
}

.bright-orange {
    background-color: #F7770F;
}

.light-purple {
    background-color: #715DF2;
}

.dark-purple {
    background-color: #6600FF;
}